piratia/build/Default/bin/Debug/TemplateCpp/Resources/HelloWorld.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/docs/cocos2dx_portrait.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.ios_mac/ios/Icon-100.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-83.5@2x.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.ios_mac/ios/Icon-152.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.ios_mac/ios/Icon-29.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-20@2x.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-60@2x.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-60@3x.png filter=lfs diff=lfs merge=lfs -text
piratia/build/Default/bin/Debug/TemplateCpp/Resources/CloseNormal.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.ios_mac/ios/Icon-144.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.android/app/res/mipmap-hdpi/ic_launcher.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.android/app/res/mipmap-xxhdpi/ic_launcher.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-50@2x.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.ios_mac/ios/Icon-72.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.ios_mac/ios/Icon-76.png filter=lfs diff=lfs merge=lfs -text
piratia/Resources/CloseNormal.png filter=lfs diff=lfs merge=lfs -text
piratia/build/Default/bin/Debug/TemplateCpp/Resources/Coasts/Tortuga.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.android/app/res/mipmap-mdpi/ic_launcher.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.ios_mac/ios/Default.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.ios_mac/ios/Icon-50.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-29@2x.png filter=lfs diff=lfs merge=lfs -text
piratia/Resources/Coasts/TortugaCoast.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.android/app/res/mipmap-xhdpi/ic_launcher.png filter=lfs diff=lfs merge=lfs -text
piratia/Resources/CloseSelected.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.android/res/drawable-ldpi/icon.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-29@3x.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-29.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-72@2x.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-72.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.ios_mac/ios/Default-568h@2x.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.ios_mac/ios/Icon-58.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-40@3x.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-57@2x.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-57.png filter=lfs diff=lfs merge=lfs -text
piratia/build/Default/bin/Debug/TemplateCpp/Resources/CloseSelected.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.android/res/drawable-mdpi/icon.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.ios_mac/ios/Icon-120.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.ios_mac/ios/Icon-40.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-50.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.ios_mac/ios/Default-667h@2x.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-40.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-76@2x.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-40@2x.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.android/res/drawable-hdpi/icon.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.ios_mac/ios/Icon-114.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-76.png filter=lfs diff=lfs merge=lfs -text
piratia/Resources/Coasts/Tortuga.png filter=lfs diff=lfs merge=lfs -text
piratia/Resources/HelloWorld.png filter=lfs diff=lfs merge=lfs -text
piratia/build/Default/bin/Debug/TemplateCpp/Resources/Coasts/TortugaCoast.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.ios_mac/ios/Default-736h@3x.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.ios_mac/ios/Icon-57.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-20@3x.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/Images.xcassets/AppIcon.appiconset/Icon-20.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.ios_mac/ios/Default@2x.png filter=lfs diff=lfs merge=lfs -text
piratia/cocos2d/tools/simulator/frameworks/runtime-src/proj.ios_mac/ios/Icon-80.png filter=lfs diff=lfs merge=lfs -text
piratia/proj.ios_mac/ios/LaunchScreenBackground.png filter=lfs diff=lfs merge=lfs -text
